<script type="text/JavaScript">
	$(function() {
		$("#date-from").datepicker({ dateFormat: "yy-mm-dd" });
		$("#date-to").datepicker({ dateFormat: "yy-mm-dd" });
		$("#time-from").timepicker();
		$("#time-to").timepicker();
		$(".dltBtn").button();
	});
</script>
<fieldset>
	<legend><?php print LABEL_TIME_FRAME; ?></legend>
	<?php print LABEL_BETWEEN; ?> <input id="date-from" type="text" name="date-from" value="" readonly="readonly" onChange="updateTime(this, receiverId);" /> 
	<?php print LABEL_AND; ?> <input id="date-to" type="text" name="date-to" value="" readonly="readonly" onChange="updateTime(this, receiverId);" />
	<button class="dltBtn" type="button" onClick="deleteTime(receiverId, 'date')">X</button>
</fieldset>
<hr />
<fieldset>
	<legend><?php print LABEL_HOURS; ?></legend>
	<?php print LABEL_BETWEEN; ?> <input id="time-from" type="text" name="time-from" value="" readonly="readonly" onChange="updateTime(this, receiverId);" /> 
	<?php print LABEL_AND; ?> <input id="time-to" type="text" name="time-to" value="" readonly="readonly" onChange="updateTime(this, receiverId);" />
	<button class="dltBtn" type="button" onClick="deleteTime(receiverId, 'time')">X</button>
</fieldset>