<script type="text/JavaScript">
	$(function() {
		$("#subject-%1$s")[0].value = JSON.stringify(%6$s);
		$("#time-%1$s")[0].value = JSON.stringify(%7$s);
		$("#location-%1$s")[0].value = JSON.stringify(%8$s);
		prettyPrintSubjects(jQuery.parseJSON(JSON.stringify(%6$s)), '%1$s');
		prettyPrintRoles(jQuery.parseJSON(JSON.stringify(%6$s)), '%1$s');
		prettyPrintIdSrc(jQuery.parseJSON(JSON.stringify(%6$s)), '%1$s');
		prettyPrintTime(jQuery.parseJSON(JSON.stringify(%7$s)), '%1$s');
		prettyPrintLocation(jQuery.parseJSON(JSON.stringify(%8$s)), '%1$s');
		$(".inline").button({text: false});
	});
</script>
<h4 title="HTTP %4$s on resource %3$s">%2$s</h4>
<div class="box">
	<span class="action-title">%2$s</span>
	
	<!-- Operation and resource -->
	<span class="action-field">
		HTTP <b>%4$s</b> <?php print LABEL_ON_RESOURCE; ?> <b>%3$s</b>
		<input type="hidden" name="resource[%1$s]" value="%3$s" readonly="readonly" />
		<input type="hidden" name="methods[%1$s]" value="%4$s" readonly="readonly" />
	</span>
	
	<!-- Parameters -->
	<!-- <span class="action-field">Parameters: --> %5$s <!-- </span> -->
	
	<!-- Subjects -->
	<span class="action-field">
		<span id="pretty-roles-%1$s"></span><br />
		<span id="pretty-idsrc-%1$s"></span><br />
		<span id="pretty-subjects-%1$s"></span><br />
		<div style="text-align: center;">
			<a class="inline" href="#ldap-content" onClick="receiverId = '%1$s';"><?php print BUTTON_EDIT; ?></a>
		</div>
		<input id="subject-%1$s" type="hidden" name="subject[%1$s]" value="" readonly="readonly" />
	</span>
	
	<!-- Time -->
	<span class="action-field">
		<span id="pretty-date-%1$s"></span><br />
		<span id="pretty-time-%1$s"></span><br />
		<div style="text-align: center;">
			<a class="inline" href="#time-content" onClick="receiverId = '%1$s';"><?php print BUTTON_EDIT; ?></a>
		</div>
		<input id="time-%1$s" type="hidden" name="time[%1$s]" value="" readonly="readonly" />
	</span>
	
	<!-- Location -->
	<span class="action-field">
		<span id="pretty-location-%1$s"></span><br />
		<div style="text-align: center;">
			<a class="inline" href="#location-content" onClick="receiverId = '%1$s';"><?php print BUTTON_EDIT; ?></a>
		</div>
		<input id="location-%1$s" type="hidden" name="location[%1$s]" value="" readonly="readonly" />
	</span>

	<span class="action-bottom"></span>
</div>