html, body {
	margin: 0;
	padding: 0;
	background: #e8e8e8;
	font-family: Tahoma;
	font-size: 11pt;
}

h1 {
	font-size: 18pt;
}

h4 {
	text-align: left;
}

input[type="text"],
input[type="password"] {
	box-shadow:inset 1px 1px 5px rgba(0, 0, 0, .05);
	background:#FCFCFC;
	border:#EEE 1px solid;
	padding:1.5%;
}

hr {
	border: none;
	margin: 15px;
}

fieldset {
	border: 1px solid #e8e8e8;
}

#header {
	clear: both;
	background: white;
	padding: 20px;
	text-align: center; 
	font-size: 12pt;
	font-style: italic;
}

#navigation {
	clear: both;
	min-height: 20px;
	background: #f5f5f5;
	padding: 12px;
}

#navigation #navi-wrapper {
	width: 640px;
	margin: 0 auto;
}

#navigation #navi-wrapper a {
	margin-left: 10px;
	margin-right: 10px;
}

#content {
	clear: both;
	padding: 10px;
	text-align: center;
}

.box, div.hint-box {
	background: white;
	clear: both;
	width: 600px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px;
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
	box-shadow: 0 2px 1px rgba(0,0,0,0.08);
}

.box .service-id, 
.box .service-title {
	display: block;
	float: left;
	margin-bottom: 10px;
}

.box .service-id{
	float: right;
}

.box .service-desc {
	display: block;
	clear: both;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 10px;
}

.box .action-title,
.box .action-desc,
.box .action-field,
.box .action-bottom {
	display: block;
	clear: both;
	border-bottom: 1px solid #e8e8e8;	
	text-align: left;
	padding: 10px;
}

.box .action-title {
	text-align: center;
	font-size: 14pt;
}

.box .action-bottom {
	border: none;
	text-align: right;
}

.box  .box-bottom {
	display: block;
	clear: both;
	text-align: center;
}

div.hint-box {
	border: 1px solid;
	padding: 10px 20px 10px 20px;
	text-align: left;	
}

div.info-box {
	color: #00529B;
	background-color: #BDE5F8;
}
div.success-box {
	color: #4F8A10;
	background-color: #DFF2BF;
}
div.warning-box {
	color: #9F6000;
	background-color: #FEEFB3;
}

div.error-box {
	color: #D8000C;
	background-color: #FFBABA;
}

.ui-autocomplete {
	z-index: 10000;
}

.selected-suggestion {
	float: right;
	padding: 4px;
	margin: 4px;
	background: #e8e8e8;
	border: 1px solid #d1d1d1;
	cursor: pointer;
	-moz-border-radius: 6px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
	box-shadow: 0 2px 1px rgba(0,0,0,0.08);	
}

#map {
	width: 600px;
	height: 480px;
	margin: 0px auto;	
}

.ui-accordion-header {
	background: white !important;
	width: 600px;
	margin: 0 auto;
	margin-bottom: 5px;
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
	box-shadow: 0 2px 1px rgba(0,0,0,0.08);
	border-radius: 0;
	color: black !important;
	font-weight: normal;
}

.ui-accordion-content {
	padding: 20px !important;
}

div#tabs {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 0px;
}

div#tabs-1, div#tabs-2 {
	margin: 0;
	padding: 20px;
}

div#ldap-content,
div#time-content,
div#location-content {
	margin-bottom: 20px;
}