<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<title><?php print $title; ?></title>
		<link rel="stylesheet" href="<?php print STYLESHEET_PATH; ?>colorbox/colorbox.css" type="text/css" />
		<link rel="stylesheet" href="<?php print STYLESHEET_PATH; ?>ui-lightness/jquery-ui-1.10.4.custom.css" type="text/css" />
		<link rel="stylesheet" href="<?php print STYLESHEET_PATH; ?>ui-timepicker/jquery.ui.timepicker.css" type="text/css" />
		<link rel="stylesheet" href="<?php print STYLESHEET_PATH; ?>leaflet/leaflet.css" type="text/css" />
		<link rel="stylesheet" href="<?php print STYLESHEET_PATH; ?>style.css" type="text/css" />
		<link rel="stylesheet" href="<?php print INCLUDE_PATH; ?>syntaxhighlighter_3.0.83/styles/shCoreDefault.css" type="text/css" />
		
		<script src="<?php print INCLUDE_PATH; ?>jquery-1.11.0.min.js"></script>
		<script src="<?php print INCLUDE_PATH; ?>jquery.colorbox-min.js"></script>
		<script src="<?php print INCLUDE_PATH; ?>jquery-ui-1.10.4.custom.min.js"></script>
		<script src="<?php print INCLUDE_PATH; ?>jquery.ui.timepicker.js"></script>
		<script src="<?php print INCLUDE_PATH; ?>leaflet.js"></script>
		<script src="<?php print INCLUDE_PATH; ?>leaflet-indoor.js"></script>
		<script src="<?php print INCLUDE_PATH; ?>osmtogeojson.js"></script>
		<script src="<?php print INCLUDE_PATH; ?>polygonDrawer.js"></script>
		<script src="<?php print INCLUDE_PATH; ?>syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
		<script src="<?php print INCLUDE_PATH; ?>syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>
		<script type="text/javascript">SyntaxHighlighter.all();</script>				
	</head>