<script type="JavaScript">
</script>

<div class="box">
	<form id="form" action="" method="post" accept-charset="ISO-8859-1">
		<span class="action-title">
			Installation of the Policy Administration Point
		</span>
		<span class="action-field">
			MySQL host: <input type="text" name="host" value="" />
		</span>
		<span class="action-field">
			MySQL user: <input type="text" name="user" value="" />
		</span>
		<span class="action-field">
			MySQL password: <input type="password" name="password" value="" />
		</span>
		<!--
		<span class="action-field">
			MySQL database: <input type="text" name="db" value="" />
		</span>
		-->
		<span class="action-bottom">
			<a href="javascript: $('#form')[0].submit();">&#x2192; Save configuration</a>
			<input type="submit" name="hidden" value="" style="display: none" />
		</span>
	</form>
</div>