<form id="login-form" action="" method="post" accept-charset="ISO-8859-1">
	<div class="box">
		<span class="action-title">Login</span>
		<span class="action-desc">Please login with the name of your enterprise and your password.</span>
		<span class="action-field">
			Enterprise name: <input type="text" name="enterprise" value="" style="width: auto;" />
			Password: <input type="password" name="password" value="" style="width: auto;" />
		</span>
		<span class="action-bottom" style="text-align: right;">
			<a href="javascript: $('#login-form')[0].submit();">&#x2192; Login</a>
			<input type="submit" name="hidden" value="" style="display: none" />
		</span>
	</div>
</form>